@font-face {
  font-family: EightBitDragon;
  src: url(/fonts/EightBitDragon-anqx.ttf); /* Import Downloaded Fonts */
}
@font-face {
  font-family: Pixelboy;
  src: url(/fonts/Pixeboy-z8XGD.ttf); /* Import Downloaded Fonts */
}

* {
  /* Set All Non Selectors To 0 Padding & Margin */
  padding: 0;
  margin: 0;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(97, 160, 175);
  padding: 1em;
  height: 50px;
}

.logo {
  margin: 0 0 0 2em;
  font-family: Pixelboy;
}

.logo a {
  color: rgb(0, 0, 0);
}

.logo,
.nav {
  list-style: none; /* Remove Bullets From List */
  text-transform: uppercase; /* Makes Logo And Nav Capitalize */
}

.avatar {
  width: 20rem;
}

.logo a,
.nav a {
  text-decoration: none;
  letter-spacing: 0.01rem; /* Not Much Spacing for 8Bit Effect */
}

.nav {
  display: flex; /* Create Row Nav */
}

.nav a {
  padding: 1.25em;
  color: white;
  font-family: EightBitDragon;
}

.professional {
  font-weight: 200;
  font-family: EightBitDragon;
}

.nav a:hover {
  background: #7e7e7e; /* Need To Make Hover More Fun */
}

.intro {
  justify-content: center; /* Flex Container Stays Centered On The*/
  align-items: center;
  font-weight: 350;
  background-color: #ffcb47;
  display: flex; /* Shift Activities To The Right Of the Avatar */
  height: 400px;
}

.hobby {
  margin: 10;
  text-decoration: none;
}

.hobby li,
a:link {
  /*Links Stay Black Without Any Format Changes */
  margin-bottom: 20px;
  letter-spacing: 0.01rem;
  text-decoration: none;
  list-style-type: none; /* Remove The Bullets */
  color: black;
  /*-----> Need to create class for each hobby list <----
list-style: url(/images/Sword.png);  */
}

.avatar {
  height: 200px;
  margin: 3em 0 3em 0;
}

/* *********** media queries *********** */
@media all and (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }

  a:link {
    text-decoration: none;
    list-style-type: none;
  }

  .logo {
    margin: 0;
  }

  .nav {
    width: 100%;
    justify-content: space-around; /* Responsive Spacing For Smaller Devices */
  }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
  }

  .flex-nav {
    flex-direction: column; /* Collapse Navigation Links On Top Of Each Other */
    justify-content: center;
  }

  a:link {
    text-decoration: none;
    list-style-type: none;
  }

  .nav a {
    justify-content: center;
    padding: 10px;
    border-top: 1px solid rgb(97, 160, 175);
    border-bottom: 1px solid rgb(97, 160, 175);
  }

  .intro {
    flex-direction: column; /* Collapse Items Insides To Fit On Screen */
  }

  .avatar {
    height: 100px; /* Change The Height Of The Avatar To Fit on Screen */
  }
}
