body {
  background-color: teal;
  display: flex;
  justify-content: center;
}

#wrapper {
  padding: 0 20px;
  width: 50%;
  background-color: orange;
  border-radius: 40px;
  box-shadow: 13px 13px 0 #222;
}

h1 {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 12rem;
  float: right;
}